/.vscode/
!.vscode/extensions.json
/docker/config
/docker/user
/docker/extensions
/docker/data
/public/css/bg_load.css
/public/scripts/extensions/third-party/
/public/stats.json
/public/css/user.css
/public/error/
/node_modules/
/plugins/
/stmb-reference/
*.code-workspace
*.jsonl
config.yaml
AGENTS.md