ST_BASE_URL=http://127.0.0.1:8000
TEST_HARNESS_ST_CONNECTION_PROFILE_NAME=[TEST] Harness value
ST_HEADLESS=true
ST_STEP_TIMEOUT_MS=20000
ST_PAGELOAD_TIMEOUT_MS=60000
ST_SCRIPT_TIMEOUT_MS=30000
ST_DOWNLOAD_TIMEOUT_MS=20000
ST_RESPONSE_TIMEOUT_MS=90000
TEST_HARNESS_CHROME_BINARY_PATH=
TEST_HARNESS_CHROMEDRIVER_PATH=
