<form class="flex-container flexFlowColumn flexGap10 st-bookmark-editor" action="javascript:void(0);">
    <h3 class="margin0">{{header}}</h3>

    <label class="flex-container flexFlowColumn flexNoGap">
        <span>Message Number</span>
        <input id="named_bookmark_message" class="text_pole" type="number" min="0" step="1" required value="{{messageNum}}">
    </label>

    <label class="flex-container flexFlowColumn flexNoGap">
        <span>Title</span>
        <input id="named_bookmark_title" class="text_pole" type="text" maxlength="200" required value="{{title}}">
    </label>
</form>
