<div class="userMessagesPopup flex-container flexFlowColumn flexGap10">
    <div class="flex-container justifySpaceBetween alignItemsCenter">
        <h3 class="margin0" data-i18n="Messages">Messages</h3>
        <small class="opacity70p" data-i18n="Markdown is supported.">Markdown is supported.</small>
    </div>
    <div class="userMessagesThread"></div>
    <textarea class="userMessagesComposer text_pole textarea_compact" maxlength="4000" placeholder="Write a message..."></textarea>
    <div class="userMessageComposerActions">
        <div class="userMessagesSendButton menu_button menu_button_icon">
            <i class="fa-fw fa-solid fa-paper-plane"></i>
            <span data-i18n="Send">Send</span>
        </div>
    </div>
</div>
