<h3>
    Aikobots is running on <span id="version_display_welcome">{{displayVersion}}.</span>
</h3>

<h3>⚠️ FYI: Aikobots has been HEAVILY customized.</h3>

<span>Only Chat Completion APIs are allowed on Aikobots. Text completion has been disabled in order to reduce computational overhead.</span>

<h3 data-i18n="How to start chatting?">How to start chatting?</h3>
<ol>
    <li>
        <span data-i18n="Click _space">Click </span>
        <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
            <i class="fa-solid fa-plug"></i>
            <span data-i18n="API Connections">API Connections</span>
        </button>
        <span data-i18n="and connect to an">and connect to an</span>
        <a href="https://docs.sillytavern.app/usage/api-connections/" target="_blank">
            <span class="fa-solid fa-circle-question"></span>
            <span data-i18n="API">API</span></a>.
    </li>
    <li>
        <span data-i18n="Click _space">Click </span>
        <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
            <i class="fa-solid fa-address-card"></i>
            <span data-i18n="Character Management">Character Management</span>
        </button>
        <span data-i18n="and pick a character."> and pick a character.</span>
    </li>
</ol>