<div class="flex-container">
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
        <i class="fa-solid fa-plug"></i>
        <span data-i18n="API Connections">API Connections</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
        <i class="fa-solid fa-address-card"></i>
        <span data-i18n="Character Management">Character Management</span>
    </button>
    <button class="character_catalog_button menu_button menu_button_icon inline-flex">
        <i class="fa-solid fa-book-open"></i>
        <span data-i18n="Character Catalog">Character Catalog</span>
    </button>
    <a  href="https://www.aikobots.com/" target="_blank" rel="noopener noreferrer"><button class="menu_button menu_button_icon drawer-opener inline-flex">
        <i class="fa-solid fa-globe"></i>
        <span data-i18n="Aikobots Website">Aikobots Website</span>
    </button></a>
    <a  href="https://www.aikobots.com/rollcall.html" target="_blank" rel="noopener noreferrer"><button class="menu_button menu_button_icon drawer-opener inline-flex">
        <i class="fa-solid fa-scroll"></i>
        <span data-i18n="Roll Call">Roll Call</span>
    </button></a>
    <a  href="https://www.aikobots.com/commands.html" target="_blank" rel="noopener noreferrer"><button class="menu_button menu_button_icon drawer-opener inline-flex">
        <i class="fa-solid fa-terminal"></i>
        <span data-i18n="Commands Reference">Commands Reference</span>
    </button></a>
</div>
