<div id="WIEntryHeaderTitlesPC" class="flex-container wide100p spaceBetween justifyCenter textAlignCenter">
    <small class="wi-entry-header-title" data-i18n="Title/Memo">Title/Memo</small>
    <small class="wi-entry-header-status" data-i18n="Status">Status</small>
    <small class="wi-entry-header-position" data-i18n="Position">Position</small>
    <small class="wi-entry-header-depth" data-i18n="Depth">Depth</small>
    <small class="wi-entry-header-order" data-i18n="Order">Order</small>
    <small class="wi-entry-header-probability" data-i18n="Trigger %">Trigger %</small>
    <small class="wi-entry-header-actions" data-i18n="Tool Icons">Tool Icons</small>
</div>
